---
import LeagueDate from "../components/LeagueDate.astro";
import MatchesTable from "../components/MatchesTable.astro";
import SingleMatch from "../components/SingleMatch.astro";
import Layout from "../layouts/Layout.astro";


---

<Layout>
    
    <article class="prose">
        <h1>Calendario Liga INK 2° edición</h1>

        <LeagueDate date={'1'} deadline={'06-05-2025'}>
            <MatchesTable category={'A'}>
                <SingleMatch player1={'INK | drakenzo'} result={'3-0'} player2={'INK | Bruce'}/>
                <SingleMatch player1={'Ds_Le cuack'} result={'0-3'} player2={'INK | Condortiero'}/>
                <SingleMatch player1={'INK | C.Price'} result={'1-2'} player2={'INK | Cure'}/>
                
            </MatchesTable>

            <MatchesTable category={'B'}>
                <SingleMatch player1={'INK | Papa pitufo'} result={'0-3'} player2={'INK | Lactato'}/>
                <SingleMatch player1={'INK | Sr.Piero'} result={'1-2'} player2={'INK | Rhino'}/>
                <SingleMatch player1={'INK | PacheMachado'} result={'1-2'} player2={'INK | Moqui'}/>
            </MatchesTable>

            <MatchesTable category={'C'}>
                <SingleMatch player1={'Oskarp'} result={'0-3'} player2={'Quitogermano'}/>
                <SingleMatch player1={'INK | Hunrein'} result={'2-1'} player2={'INK | Rutsor'}/>
                <SingleMatch player1={'INK | ZEK0'} result={'3-0'} player2={'INK | Jimmbar'}/>
            </MatchesTable>
        </LeagueDate>

        <LeagueDate date={'2'} deadline={'13-05-2025'}>
            <MatchesTable category={'A'}>
                <SingleMatch player1={'INK | drakenzo'} result={'3-0'} player2={'Ds_Le cuack'}/>
                <SingleMatch player1={'INK | C.Price'} result={'0-3'} player2={'INK | Bruce'}/>
                <SingleMatch player1={'INK | Cure'} result={'0-3'} player2={'INK | Condortiero'}/>
            </MatchesTable>

            <MatchesTable category={'B'}>
                <SingleMatch player1={'INK | Papa pitufo'} result={'---'} player2={'INK | Sr.Piero'}/>
                <SingleMatch player1={'INK | PacheMachado'} result={'1-2'} player2={'INK | Lactato'}/>
                <SingleMatch player1={'INK | Moqui'} result={'2-1'} player2={'INK | Rhino'}/>
            </MatchesTable>

            <MatchesTable category={'C'}>
                <SingleMatch player1={'Oskarp'} result={'0-3'} player2={'INK | Hunrein'}/>
                <SingleMatch player1={'INK | ZEK0'} result={'0-3'} player2={'Quitogermano'}/>
                <SingleMatch player1={'INK | Jimmbar'} result={'0-3'} player2={'INK | Rutsor'}/>
            </MatchesTable>

        </LeagueDate>

        <LeagueDate date={'3'} deadline={'20-05-2025'}>
            <MatchesTable category={'A'}>
                <SingleMatch player1={'INK | drakenzo'} result={'---'} player2={'INK | C.Price'}/>
                <SingleMatch player1={'INK | Cure'} result={'---'} player2={'Ds_Le cuack'}/>
                <SingleMatch player1={'INK | Condortiero'} result={'---'} player2={'INK | Bruce'}/>
            </MatchesTable>

            <MatchesTable category={'B'}>
                <SingleMatch player1={'INK | Papa pitufo'} result={'---'} player2={'INK | PacheMachado'}/>
                <SingleMatch player1={'INK | Moqui'} result={'---'} player2={'INK | Sr.Piero'}/>
                <SingleMatch player1={'INK | Rhino'} result={'---'} player2={'INK | Lactato'}/>
            </MatchesTable>

            <MatchesTable category={'C'}>
                <SingleMatch player1={'Oskarp'} result={'---'} player2={'INK | ZEK0'}/>
                <SingleMatch player1={'INK | Jimmbar'} result={'---'} player2={'INK | Hunrein'}/>
                <SingleMatch player1={'INK | Rutsor'} result={'---'} player2={'Quitogermano'}/>
            </MatchesTable>

        </LeagueDate>

        <LeagueDate date={'4'} deadline={'27-05-2025'}>
            <MatchesTable category={'A'}>
                <SingleMatch player1={'INK | drakenzo'} result={'---'} player2={'INK | Cure'}/>
                <SingleMatch player1={'INK | Condotiero'} result={'---'} player2={'INK | C.Price'}/>
                <SingleMatch player1={'INK | Bruce'} result={'---'} player2={'Ds_Le cuack'}/>
            </MatchesTable>

            <MatchesTable category={'B'}>
                <SingleMatch player1={'INK | Papa pitufo'} result={'---'} player2={'INK | Moqui'}/>
                <SingleMatch player1={'INK | Rhino'} result={'---'} player2={'INK | PacheMachado'}/>
                <SingleMatch player1={'INK | Lactato'} result={'---'} player2={'INK | Sr.Piero'}/>
            </MatchesTable>

            <MatchesTable category={'C'}>
                <SingleMatch player1={'Oskarp'} result={'---'} player2={'INK | Jimmbar'}/>
                <SingleMatch player1={'INK | Rutsor'} result={'---'} player2={'INK | ZEK0'}/>
                <SingleMatch player1={'Quitogermano'} result={'---'} player2={'INK | Hunrein'}/>
            </MatchesTable>

        </LeagueDate>

        <LeagueDate date={'5'} deadline={'04-06-2025'}>
            <MatchesTable category={'A'}>
                <SingleMatch player1={'INK | drakenzo'} result={'---'} player2={'INK | Condotiero'}/>
                <SingleMatch player1={'INK | Bruce'} result={'---'} player2={'INK | Cure'}/>
                <SingleMatch player1={'Ds_Le cuack'} result={'---'} player2={'INK | C.Price'}/>
            </MatchesTable>

            <MatchesTable category={'B'}>
                <SingleMatch player1={'INK | Papa pitufo'} result={'---'} player2={'INK | Rhino'}/>
                <SingleMatch player1={'INK | Lactato'} result={'---'} player2={'INK | Moqui'}/>
                <SingleMatch player1={'INK | Sr.Piero'} result={'---'} player2={'INK | PacheMachado'}/>
            </MatchesTable>

            <MatchesTable category={'C'}>
                <SingleMatch player1={'Oskarp'} result={'---'} player2={'INK | Rutsor'}/>
                <SingleMatch player1={'Quitogermano'} result={'---'} player2={'INK | Jimmbar'}/>
                <SingleMatch player1={'INK | Hunrein'} result={'---'} player2={'INK | ZEK0'}/>
            </MatchesTable>

        </LeagueDate>

    </article>

</Layout>