---
import Layout from '../layouts/Layout.astro';

---

<Layout title={'Resolución de inconvenientes'}>
    
    <main class="prose">
        <article>

            <h1>Guía de solución de problemas</h1>
            <h2>En esta guía podrás encontrar como proseguir si se presentan determinados inconvenientes durante el desarrollo de la liga.</h2>

            <h3>Coordinación</h3>
            <p> En caso de haber un drop de cualquiera de los 2 jugadores se pide que se intente restaurar la partida. Queda terminantemente prohibido en caso de caída ver el mapa, el jugador restante debe quedarse donde quedo su cámara, guardar partida y guardar capitulo por las dudas y luego restaurar la partida. En caso de no poder restaurar la partida, el jugador a quien no se le haya caído podrá decidir si se reinicia la partida o si solicita el win por esa partida. Remarcamos que la administración es quien toma la decisión de conceder el admin win o de recomenzar la partida. Para restaurar la partida se hace de la siguiente manera: Van a la pestaña multijugador y seleccionan Restaurar Partida.
                Si el jugador que ha dropeado no puede volver a conectarse en ese momento por problemas técnicos se evaluará continuar en otro momento.
            </p>

            <h3>Ausencia de un jugador</h3>
            <p>En caso de que pasara el tiempo límite para jugar y no ha respondido contactar a los admins. 
                Por default, el jugador que no se presente perderá la partida, otorgando todos los puntos al rival que si lo hizo.
                Si luego el vencedor quiere reprogramar con el jugador que no se presentó y jugar la serie pueden hacerlo. Debe tener en cuenta que el nuevo resultado reemplazará el 3-0 obtenido, así como también de no presentarse uno de los jugadores, se tomará la misma escisión que en la primera instancia.
            </p>

            <h3>Drops</h3>
            <p> En caso de haber un drop de cualquiera de los 2 jugadores se pide que se intente restaurar la partida. Queda terminantemente prohibido en caso de caída ver el mapa, el jugador restante debe quedarse donde quedo su cámara, guardar partida y guardar capitulo por las dudas y luego restaurar la partida. En caso de no poder restaurar la partida, el jugador a quien no se le haya caído podrá decidir si se reinicia la partida o si solicita el win por esa partida. Remarcamos que la administración es quien toma la decisión de conceder el admin win o de recomenzar la partida. Para restaurar la partida se hace de la siguiente manera: Van a la pestaña multijugador y seleccionan Restaurar Partida.
                Si el jugador que ha dropeado no puede volver a conectarse en ese momento por problemas técnicos se evaluará continuar en otro momento.
            </p>

            <h3>Error de settings de la sala al crear la partida.</h3>
            <p>Si hubiera un error en las settings al momento de crear la partida y debiera volver a crearse la sala:
                Mapa neutral: ambos son responsables de chequear las settings, por lo que se jugará el mismo mapa y se jugará con las mismas civilizaciones que habían pickeado.
                Mapa del host: El host es responsable de la configuración, por lo que el otro jugador decidirá si se mantiene mapa y civis o debe jugarse el otro mapa pickeado por el host y ambos eligirán otra civi de su pool de civilizaciones del draft.
            </p>

            <h3>Error de pick</h3>
            <p>Civilización: Si un jugador elige una civilización que no está en su pool de civis o una que si lo estaba pero ya la ha utilizado en una partida anterior, la partida se reanudará y el rival eligiráque civilización utilizará el jugador que cometió el error. Debe elegir una civilización que esté en el pool del jugador que cometió el error.
                Mapa: El pick de mapa pertenece a un error de settings de la sala, pero en este caso, al haberse revelado las civilizaciones, el rival de quién cometió el error decidirá que mapa se jugará, pudiendo este ser del draft de cualquiera de los jugadores. Las civilizaciones se mantendrán igual.
            </p>

            <h3>Baja de un jugador</h3>
            <p>Si un jugador no puede continuar participando de la liga y esta aún no ha terminado, se otorgará victoria por 3-0 a todos sus rivales, independientemente del resultado obtenido en las partidas ya disputadas.
            </p>

            <h3>Trampas, bugs</h3>
            <p>El uso de trampas o bugs que saquen provecho de alguna situación usando una mecánica rota (Como fue por ejemplo las reliquias infinitas, el depositar comida agarrando madera) queda prohibido. A cualquier persona que se la vea utilizando estos errores sera descalificada inmediatamente de la liga y de futuras emisiones, por lo que les pedimos que tengan un juego limpio y honesto. Cualquier jugador que sospeche de la utilización de los mismos llamar a algún admin para que revise la situación y compruebe si se está utilizando o no. También aclaramos que acusar injustamente a algún jugador de hacer trampa sin tener alguna sospecha clara repercutirá en el jugador acusante. </p>
                
            <h3> Comportamiento</h3>
            <p> Les pedimos de parte de la organización que no se falte el respeto a ningun jugador bajo ninguna circunstancia. En caso de haber algún problema simplemente pedir hablar con los admins y exponer el inconveniente entre jugadores.</p>

            <h3>Parche</h3>
            <p>En cuanto al parche se jugara en el más reciente para evitar problemas, también somos conscientes de que con cada actualización aparecen nuevos bugs y por eso les reiteramos que está terminantemente prohibido aprovecharse de los mismos.</p>
        </article>
    </main>

</Layout>
