---
import PlayerPosition from "../components/position-table/PlayerPosition.astro";
import PositionTable from "../components/position-table/StandTable.astro";
import Layout from "../layouts/Layout.astro";
const pageTitle='Tabla de posiciones'


---
<Layout pageTitle={pageTitle}>
    <article class="prose">

        <h1>{pageTitle}</h1>
        <PositionTable category={'A'}>
            <PlayerPosition position={1} player={'INK | drakenzo'} points={6}/>
            <PlayerPosition position={1} player={'INK | Condortiero'} points={6}/>
            <PlayerPosition position={2} player={'INK | Bruce'} points={3}/>
            <PlayerPosition position={3} player={'INK | Cure'} points={2}/>
            <PlayerPosition position={4} player={'INK | C.Price'} points={1}/>
            <PlayerPosition position={5} player={'Ds_Le cuack'} points={0}/>
        </PositionTable>
        
        <PositionTable category={'B'}>
            <PlayerPosition position={1} player={'INK | Lactato'} points={5}/>
            <PlayerPosition position={2} player={'INK | Moqui'} points={4}/>
            <PlayerPosition position={3} player={'INK | Rhino'} points={3}/>
            <PlayerPosition position={4} player={'INK | PacheMachado'} points={2}/>
            <PlayerPosition position={5} player={'INK | Sr.Piero'} points={1}/>
            <PlayerPosition position={6} player={'INK | Papa pitufo'} points={0}/>
        </PositionTable>
        
        <PositionTable category={'C'}>
            <PlayerPosition position={1} player={'Quitogermano'} points={6}/>
            <PlayerPosition position={2} player={'INK | Hunrein'} points={5}/>
            <PlayerPosition position={3} player={'INK | Rutsor'} points={4}/>
            <PlayerPosition position={4} player={'INK | ZEK0'} points={3}/>
            <PlayerPosition position={5} player={'Oskarp'} points={0}/>
            <PlayerPosition position={5} player={'INK | Jimmbar'} points={0}/>
        </PositionTable>
    </article>

</Layout>