---

---


<footer>
    <span>Desarrollado por Hunrein --- 2025</span>
</footer>

<style>
    footer{
        display: flex;
        justify-content: end;
    }

    span{
        padding: 3rem 3rem 2rem 0;
    }
</style>