---

---

<div class="nav-bar-container">
    <nav class="nav-bar">
        <a href="/">Inicio</a>
        <a href="/partida-paso-a-paso/">Partida paso a paso</a>
        <a href="/resolucion-inconvenientes/">Resolución de inconvenientes</a>

    </nav>
</div>

<style>
    .nav-bar-container{
        display: none;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: rgba(0, 0, 0, 0.575);
        width: 100vw;
        transition-duration: 0.2s;
        height: 85vh;
    }
    .expanded{display: inline-block;}
    .nav-bar{
        display: flex;
        flex-direction: column;
        align-items:start
        
    }
    .nav-bar a{
        padding: 2rem;
        color: white;
        font-size: 24px;
        text-decoration: none;
    }



    @media screen and (min-width: 769px ) {
 
 
    .nav-bar-container{
        width: 100vw;
        display: contents;
        margin-bottom: 2rem;
        right: 0;
        height: 3rem;
        position: relative;
       }
       .nav-bar{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:center;
        margin-bottom: 1.5rem;
        gap: 3rem;

    }
    .nav-bar a{
        padding: 1rem;
        text-decoration: none;
        color: white;
        font-size: 24px;
    }
    .nav-bar a:hover{
        color: red;
    }
}
</style>