*{
    font-family:"Roboto";
}
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		color: white;
	}


    .prose{
		max-width: 65ch;
  		font-size: 1rem;
  		line-height: 1.75;
  		justify-self: center;
	}
	.prose h1 {
	font-size: 2.25rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	}

	.prose h2 {
	font-size: 1.875rem;
	font-weight: bold;
	margin-bottom: 0.5em;
	}

	.prose p {
	margin-bottom: 1em;
	}

	.prose a {
	color: #3b82f6;
	text-decoration: underline;
	}

	.prose ul,
	.prose ol {
	margin-left: 1.5em;
	margin-bottom: 1em;
	}
